*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assest/image/P1.jpg) no-repeat center / cover;

    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 500px;
    background: rgba(125, 192, 255, 0.29);
    border-radius: 50px;
    color: white;
}

.filter {
    background: rgba(255, 255, 255, 0.29);
    border-radius: 50px;
}

h2 {
    display: flex;
    justify-content: space-around;
    font-size: 29px;
    text-transform: uppercase
}

.from-group {
    font-size: large;
    width: 229px;
    margin: 20px 0;
    border-bottom: 2px solid #955024;
}

.from-group input {
    width: 100%;
    height: 29px;
    background: transparent;
    border: none;
    outline: none;
    color: white;

}

.from-group input::placeholder {
    color: ghostwhite;
}

.from-group i {
    position: absolute;
    /* left: 62%; */
}

p {
    text-align: center;
    color: white;
    padding: 10px 0;
}

p a {
    text-decoration: none;
    color: white;
}

p a:hover {
    text-decoration: underline #955023;
    font-weight: bold;
    color: #955023;
}

#btn {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 19px;
    text-transform: uppercase;
    color: #955023;
}

#btn:hover {
    background: #955023;
    font-weight: bold;
    color: white;
    cursor: pointer;
}