span {
    color: #955023;
}

.task_1, .task_2, .task_3, .task_4, .task_5,
.task_6 , .task_7, .task_8, .task_9, .task_10,
.task_11, .task_12, .task_13, .task_14, .task_15 {
    color: #955023;
    background: #f9f9f9;
    border: 1px solid #eebdbd;
    margin-bottom: 15px;
}

.task_1bc {
    color: #953e23;
    background: rgba(125, 192, 255, 0.9);
    border-radius: 15px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    padding: 9px;
    overflow: visible;
}

.filter {
    background: rgba(255, 255, 255, 0.29);
    border-left: 5.9px solid rgba(169, 169, 169, 0.295);
    border-bottom: 5.9px solid rgba(169, 169, 169, 0.295);
    border-radius: 19px;
    width: 268px;
}

.task_1sc {
    color: #955023;
    background: rgba(125, 255, 157, 0.9);
    border-radius: 15px;
    width: 290px;
    font-weight: bold;
    text-align: center;
    padding: 9px;
}

.filter_2 {
    background: rgba(255, 255, 255, 0.29);
    border-right: 5.9px solid rgba(169, 169, 169, 0.090);
    border-bottom: 5.9px solid rgba(169, 169, 169, 0.090);
    border-radius: 19px;
    width: 307px;
    margin-top: 10px;
    margin-left: 15px;
}

.task_2sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
    height: 120px;
    overflow: hidden;
}

.task_3sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
    height: 100px;
    overflow-y: scroll;
}

.task_4sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
    height: 100px;
    overflow: auto;
}

.task_5sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
    height: 100px;
    visibility: hidden;
}

.task_6sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
    height: 100px;
    visibility: visible;
}

.task_7sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
}

.task_7sb table {
    max-width: 750px;
    width: 100%;

    border-collapse: collapse;
    font-family: sans-serif;
    border: 2px solid #953e23;
}

.task_7sb th, .task_7sb td {
    border: 2px solid #953e23;
    padding: 12px;
    text-align: left;
}

/* .task_7sb th {
    color: #955023;
    text-align: center;
    background: #f5fff5;
} */

.task_7sb {
    overflow-x: auto;
}

.task_7sb .hover {
    background: #955023;
    border-radius: 15px;
    width: 120px;
    height: 21px;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.task_7corow {
    visibility: collapse;
}

.task_7sb table:hover .task_7corow {
    visibility: visible;
}

.task_7sb .hover:hover {
    color: #955023;
    background: #ffffff;
}

.task_8sb, .task_9sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
    column-count: 2;
    column-gap: 20px;
    column-rule: 2px dashed #eebdbd;
    line-height: 1.5;
    margin: 0 auto;
}

.task_8sb h2, .task_9sb h2 {
    column-span: all;
    text-align: center;
}

.task_9sb {
    column-count: 3;
}

.task_10sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
}

.task_10sb .con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.task_10sb .col-30 {
    width: 30%;
    border: 2px solid #955023;
    padding: 10px;
    margin-bottom: 15px;
}

.task_10sb .col-70 {
    width: 70%;
    border: 2px solid #955023;
    padding: 10px;
}

.task_11sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
}

.task_11sb .con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.task_11sb .col-50 {
    width: 50%;
    border: 2px solid #955023;
    padding: 10px;
    margin-bottom: 15px;
}

.task_11sb .col-50 {
    width: 50%;
    border: 2px solid #955023;
    padding: 10px;
}

.task_12sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
}

.task_12sb .con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.task_12sb .col-25 {
    width: 25%;
    border: 2px solid #955023;
    padding: 10px;
    margin-bottom: 15px;
}

.task_12sb .col-75 {
    width: 75%;
    border: 2px solid #955023;
    padding: 10px;
}

.task_13sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
}

.task_13sb .con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.task_13sb .col-60 {
    width: 60%;
    border: 2px solid #955023;
    padding: 10px;
    margin-bottom: 15px;
}

.task_13sb .col-40 {
    width: 40%;
    border: 2px solid #955023;
    padding: 10px;
}

.task_14sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
    height: 150px;
    column-count: 2;
    column-gap: 20px;
    column-rule: 2px dashed #eebdbd;
    line-height: 1.5;
    overflow-y: auto;
}

.task_14sb h2 {
    column-span: all;
    text-align: center;
}

.task_15sb {
    color: white;
    font-weight: bold;
    font-size: 17px;
    background: rgb(0, 180, 180);
    padding: 15px;
    width: 750px;
}

.task_15sb table {
    max-width: 750px;
    width: 100%;

    border-collapse: collapse;
    font-family: sans-serif;
    border: 2px solid #953e23;
}

.task_15sb th, .task_15sb td {
    border: 2px solid #953e23;
    padding: 12px;
    text-align: left;
}

/* .task_15sb th {
    color: #955023;
    text-align: center;
    background: #f5fff5;
} */

.task_15sb {
    overflow-x: auto;
}

.task_15sb .sc {
    height: 100px;
    overflow-y: scroll;
}

.task_15sb .hover {
    background: #955023;
    border-radius: 15px;
    width: 120px;
    height: 21px;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.task_15corow {
    visibility: collapse;
}

.task_15sb table:hover .task_15corow {
    visibility: visible;
}

.task_15sb .hover:hover {
    color: #955023;
    background: #ffffff;
}

.task_15sb .sc::-webkit-scrollbar {
    width: 10px;
}

.task_5sb .sc::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.task_15sb .sc::-webkit-scrollbar-thumb {
    background: #953e23;
    border: 2px solid rgb(0, 180, 180);
    border-radius: 10px;
}

.task_15sb .sc::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}