span {
    color: #955023;
}

.task_1, .task_2, .task_3, .task_4, .task_5,
.task_6 , .task_7, .task_8, .task_9, .task_10,
.task_11, .task_12, .task_13, .task_14, .task_15 {
    color: #955023;
    background: #f9f9f9;
    border: 1px solid #eebdbd;
    margin-bottom: 15px;
}

.box {
    color: white;
    width: fit-content;
    background-color: #3498db;
    border-radius: 19px;
    font-size: 19px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
}

.task_2main {
    position: relative;
    top: 30px;
    left: 50px;
    margin-bottom: 40px;
}

.task_3p {
    position: relative;
    margin-bottom: 90px;
}

.task_3c {
    position: absolute;
    background: rgb(0, 159, 0);
}