.task_3 {
    background:#955023;
    color: #ffffff;;
    font-weight:bold;
    border:1px solid #eee;
}

.task_6 {
    background: #B8724D;
    color: #ffffff;;
    font-weight:bold;
    border:1px solid #eee;
}

.task_7 {
    background: #D9A46C;
    color: #ffffff;;
    font-weight:bold;
    border:1px solid #eee;
}

.task_9 {
    text-align: center;
    background: #D9A46C;
    color: #ffffff;;
    font-weight:bold;
    border:1px solid #eee;
}

.task_12 {
    background: #B8724D;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #eee;
}